.project
.pydevproject
build
dist
*/docs
*.o
.sconsign.dblite
*.pyc
*.hex
*.elf
*.dll
*.pyd
*.so
*.yml
.settings
*.egg-info
dmf_control_board_firmware/src/dmf_control_board/Config.h
paver-minilib.zip
setup.py
.ropeproject
.idea
docs/_*
