include README.md
include CHANGELOG
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include dmf_control_board_firmware *
